<div class="container">

      <nav class="navbar">
          <div class="brand-title"><a href="/admin/login/logout">Cerrar sesion</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
        <li><a href="/admin/ediciones_sueldos" id="active">Ediciones</a></li>
        <li><a href="/admin/cargar_empleado">Cargar empleado</a></li>
        <li><a href="/admin/cargas" >Cargas de datos</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>

  <div class="main">
    {{#if error}}
      <h3>{{error.message}}</h3>
    {{/if}}

    <h1>Nomina de empleados</h1>

    <div class="edic_table">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>DNI</td>
            <td>Domicilio</td>
            <td>Sueldo base</td>
            <td>Puesto</td>
            <td>Telefono</td>
            <td>E-mail</td>
            <td>Editar</td>
            <td>Sueldo</td>
            <td>Eliminar</td>
          </tr>
        </thead>

        <tbody>
          {{#each detallesFormat}}
            <tr>
              <td>{{id}}</td>
              <td>{{nombre}}</td>
              <td>{{apellido}}</td>
              <td>{{dni}}</td>
              <td>{{domicilio}}</td>
              <td>${{sueldo}}</td>
              <td>{{puesto}}</td>
              <td>{{telefono}}</td>
              <td>{{email}}</td>
              <td><a href="/admin/editar_empleado/{{id}}"><img
                    src="/images/editar.png"
                    width="25px"
                    height="25px"
                    alt="editar"
                  /></a></td>
              <td><a href="/admin/ediciones_sueldos/cargar_sueldos/{{id}}"><img
                    src="/images/cargar.png"
                    width="35px"
                    height="25px"
                    alt="cargar"
                  /></a></td>
              <td><a href="/admin/ediciones_sueldos/eliminar/{{id}}"><img
                    src="/images/eliminar.png"
                    width="25px"
                    height="25px"
                    alt="eliminar"
                  /></a></td>
            </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>
</div>