<div class="container">
      <nav class="navbar">
          <div class="brand-title"><a href="/admin/login/logout">Cerrar sesion</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
            <li><a href="/admin/consultas/nomina_empleados" id="active">Nomina de empleados</a></li>
            <li><a href="/admin/consultas/nomina_mensual">Nomina mensual de sueldos</a></li>
            <li><a href="/admin/consultas/detalle">Detalle de empleado</a></li>
        <li><a href="/admin/consultas" >Consultas</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>
  <div class="main">
    <h1>Nomina de empleados</h1>
    <div class="edic_table">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>DNI</td>
            <td>Domicilio</td>
            <td>Sueldo</td>
            <td>Puesto</td>
            <td>Telefono</td>
            <td>E-mail</td>
          </tr>
        </thead>

        <tbody>
          {{#each detallesFormat}}
            <tr>
              <td>{{id}}</td>
              <td>{{nombre}}</td>
              <td>{{apellido}}</td>
              <td>{{dni}}</td>
              <td>{{domicilio}}</td>
              <td>{{sueldo}}</td>
              <td>{{puesto}}</td>
              <td>{{telefono}}</td>
              <td>{{email}}</td>
            </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>

</div>