<div class="container">
      <nav class="navbar">
               <div class="brand-title"><a href="/admin/login/logout">Cerrar sesion</a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      <div class="navbar-links">
      <ul>
            <li><a href="/admin/consultas/nomina_empleados">Nomina de empleados</a></li>
            <li><a href="/admin/consultas/nomina_mensual" id="active">Nomina mensual de sueldos</a></li>
            <li><a href="/admin/consultas/detalle">Detalle de empleado</a></li>
        <li><a href="/admin/consultas" class="active" >Consultas</a></li>
        <li><a href="/admin/home">Home</a></li>
      </ul>
      </div>
      
      </nav>
  <div class="main">
    <h1>Nomina mensual de cobros</h1>
    <div class="edic_table">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>DNI</td>
            <td>Enero</td>
            <td>Febrero</td>
            <td>Marzo</td>
            <td>Abril</td>
            <td>Mayo</td>
            <td>Junio</td>
            <td>Julio</td>
            <td>Agosto</td>
            <td>Septiembre</td>
            <td>Octubre</td>
            <td>Noviembre</td>
            <td>Diciembre</td>
          </tr>
        </thead>

        <tbody>
          {{#each empleadoMen}}
          <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{dni}}</td>
            <td>${{enero}}</td>
            <td>${{febrero}}</td>
            <td>${{marzo}}</td>
            <td>${{abril}}</td>
            <td>${{mayo}}</td>
            <td>${{junio}}</td>
            <td>${{julio}}</td>
            <td>${{agosto}}</td>
            <td>${{septiembre}}</td>
            <td>${{octubre}}</td>
            <td>${{noviembre}}</td>
            <td>${{diciembre}}</td>
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>

</div>